.checkbox-cont{
    position: relative;
    cursor: pointer;
}

.checkbox-cont * {
    position: absolute;
    top: 0;
    left: 0;
}


.box-checked{
  transition: 0.2s;

}

.box-unchecked{
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
}

