.create-task-form{
    background-color: #0A0A0A;
    display: flex;
    width: 90%;
    border: 1px solid #2C2C2C;
    border-radius: 10px;
    box-shadow: 0px 0px 22px rgba(56, 56, 56, 0.403);
}

.create-task-input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 20px;
    position: relative;
}

.create-task-form::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 200vw;
    height: 200vh;
    color: white;
}

